<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
<div th:replace="~{flagment/admin/adminHead :: adminHeadFragment}"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- Preloader -->
		<div
			class="preloader flex-column justify-content-center align-items-center">
			<img class="animation__wobble" src="/img/banner/logotitle.png"
				alt="AdminLTELogo" height="60" width="60">
		</div>

		<div th:replace="~{flagment/admin/adminHeader :: adminHeaderFragment}"></div>
		<div
			th:replace="~{flagment/admin/adminMainSidebar :: adminMainSidebarFragment}"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">BEVERAGE</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Overview</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- /.card -->

							<div class="card">
								<div class="card-header">
									<h3 class="card-title">DataTable with default features</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<table id="example1"
										class="table table-bordered table-hover table-striped">
										<thead>
											<tr>
												<th>Id</th>
												<th>Beverage Name</th>
												<th>Price (VNĐ)</th>
												<th>Description</th>
												<th>Category</th>
												<th>Image</th>
											</tr>
										</thead>
										<tbody>
											<!--ADD DATA -->
											<tr data-widget="expandable-table" aria-expanded="false">
												<td colspan="6"
													class="text-success font-weight-bold text-center bg-navy">ADD</td>
											</tr>
											<tr class="expandable-body">
												<td colspan="6">
													<form class="form-horizontal m-3" method="post"
														th:object="${beverage}" enctype="multipart/form-data">
														<div class="form-group row">
															<label for="inputName" class="col-sm-2 col-form-label">Beverage
																Name</label>
															<div class="col-sm-10">
																<input type="text" class="form-control" id="inputName"  th:field="*{name}"
																	placeholder="Beverage Name" name="beveragename">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputEmail" class="col-sm-2 col-form-label">Price
																(S size)</label>
															<div class="col-sm-10">
																<input type="text" class="form-control" id="inputPrice"  th:field="*{price}"
																	th:value="${beverage.price}" placeholder="Price"
																	name="Price">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputDescription"
																class="col-sm-2 col-form-label">Description</label>
															<div class="col-sm-10">
																<textarea class="form-control" id="inputDescription"  th:field="*{description}"
																	th:text="${beverage.description}"
																	placeholder="Description" name="description"></textarea>
															</div>
														</div>
														<div class="form-group row">
															<label for="inputType" class="col-sm-2 col-form-label">Category</label>
															<select name="category" id="category" th:field="*{category.id}"
																class="form-control col-sm-10">
																<option disabled="disabled" value="null" selected>Category
																	of beverage</option>
																<option value="101">Coffee</option>
																<option value="102">CloudFee</option>
																<option value="103">CloudTea</option>
																<option value="104">Hi-Tea
																	Healthy</option>
																<option value="105">Fruit-tea
																	& Milk-tea</option>
															</select>
														</div>
														<div class="form-group row">
															<label for="inputImage" class="col-sm-2 col-form-label">Image</label>
															<div class="col-sm-10 custom-file ">
																<input type="file" class="custom-file-input"
																	id="customFile"> <label
																	class="custom-file-label" for="customFile"
																	th:text="${beverage.image==null?'Choose File':beverage.image}"></label>
																<input type="hidden" th:field="*{image}" th:id="hiddenInput">
															</div>

														</div>
														<div class="form-group row">
															<div class="offset-sm-2 col-sm-10">
																<button type="submit" class="btn btn-success"
																th:formaction="@{/hnbcoffee/admin/beverage/create}"
																>CREATE</button>
															</div>
														</div>
													</form>
												</td>
											</tr>
											<!--DATA -->
											<div th:each="beverage : ${beverages}">
											<tr data-widget="expandable-table" aria-expanded="false">
												<td th:text="${beverage.id}"></td>
												<td th:text="${beverage.name}"></td>
												<td ><span th:inline="text">[[${#numbers.formatDecimal(beverage.price,
												0, 'POINT', 0, 'COMMA')}]]</span></td>
												<td class="w-50" th:text="${beverage.description}"></td>
												<td th:text="${beverage.category.name}"></td>
												<td style="width: 90px;"><img class="img-fluid"
													th:src="@{/img/beverage/__${beverage.image}__}" /></td>

											</tr>
											<tr class="expandable-body">
												<td colspan="6">
													<form class="form-horizontal m-3" method="post"
														enctype="multipart/form-data">
														<div class="form-group row">
															<label for="inputName" class="col-sm-2 col-form-label">Beverage
																Name</label>
															<div class="col-sm-10">
																<input type="text" class="form-control" id="inputName"
																	th:value="${beverage.name}" placeholder="Beverage Name"
																	name="beveragename">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputEmail" class="col-sm-2 col-form-label">Price
																(S size)</label>
															<div class="col-sm-10">
																<input type="text" class="form-control" id="inputPrice"
																	th:value="${beverage.price}" placeholder="Price"
																	name="price">
															</div>
														</div>
														<div class="form-group row">
															<label for="inputDescription"
																class="col-sm-2 col-form-label">Description</label>
															<div class="col-sm-10">
																<textarea class="form-control" id="inputDescription"
																	th:text="${beverage.description}"
																	placeholder="Description" name="description"></textarea>
															</div>
														</div>
														<div class="form-group row">
															<label for="inputType" class="col-sm-2 col-form-label">Category</label>
															<select name="category" id="category"
																class="form-control col-sm-10">
																<option disabled="disabled" value="null">Category
																	of beverage</option>
																<option value="101"
																	th:selected="${beverage.category.name == 'coffee'}">Coffee</option>
																<option value="102"
																	th:selected="${beverage.category.name == 'cloudFee'}">CloudFee</option>
																<option value="103"
																	th:selected="${beverage.category.name == 'cloudTea'}">CloudTea</option>
																<option value="104"
																	th:selected="${beverage.category.name == 'Hi-Tea
																	Healthy'}">Hi-Tea
																	Healthy</option>
																<option value="105"
																	th:selected="${beverage.category.name == 'Fruit-tea
																	& Milk-tea'}">Fruit-tea
																	& Milk-tea</option>
															</select>
														</div>
														<div class="form-group row">
															<label for="inputImage" class="col-sm-2 col-form-label">Image</label>
															<div class="col-sm-10 custom-file ">
																<input type="file" class="custom-file-input" 
																	id="customFile"> <label
																	class="custom-file-label" for="customFile"
																	th:text="${beverage.image==null?'Choose File':beverage.image}"></label>
																<input type="hidden" th:id="hiddenInput" name="image">
															</div>

														</div>
														<div class="form-group row">
															<div class="offset-sm-2 col-sm-10">
																<button type="submit" class="btn btn-success"
																th:formaction="@{/hnbcoffee/admin/beverage/update/__${beverage.id}__}"
																>Save</button>
																<button type="submit" class="btn btn-danger"
																th:formaction="@{/hnbcoffee/admin/beverage/delete/__${beverage.id}__}"
																>Delete</button>
															</div>
														</div>
													</form>
												</td>
											</tr>
											</div>
										</tbody>
										<tfoot>
											<tr>
												<th>Id</th>
												<th>Beverage Name</th>
												<th>Price (VNĐ)</th>
												<th>Description</th>
												<th>Category</th>
												<th>Image</th>
											</tr>
										</tfoot>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<div th:replace="~{flagment/admin/adminFooter :: adminFooterFragment}"></div>
		<div
			th:replace="~{flagment/admin/adminFootLink :: adminFootLinkFragment}"></div>
		<script type="text/javascript">
			// Add the following code if you want the name of the file appear on select
			$(".custom-file-input").on(
					"change",
					function() {
						var fileName = $(this).val().split("\\").pop();
						$(this).siblings(".custom-file-label").addClass(
								"selected").html(fileName);
						// Thiết lập giá trị của ô input khác
						$("#hiddenInput").val(fileName);
					});
		</script>
	</div>

</body>

</html>