<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
<div th:replace="~{flagment/admin/adminHead :: adminHeadFragment}"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- Preloader -->
		<div
			class="preloader flex-column justify-content-center align-items-center">
			<img class="animation__wobble" src="/img/banner/logotitle.png"
				alt="AdminLTELogo" height="60" width="60">
		</div>

		<div th:replace="~{flagment/admin/adminHeader :: adminHeaderFragment}"></div>
		<div th:replace="~{flagment/admin/adminMainSidebar :: adminMainSidebarFragment}"></div>
		    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">SALES</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Overview</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

     <!-- Main content -->
        <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="salestable" class="table table-bordered table-hover table-striped">
                  <thead>
                  <tr>
                    <th>ID Beverage</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>
	                  <th:block th:each="item : ${list}">
						<tr>
							<td th:text="${item.beverage.id}"></td>
							<td th:text="${item.beverage.name}"></td>
							<td style="width: 90px;"><img class="img-fluid" th:src="@{/img/beverage/__${item.beverage.image}__}" /></td>
							<td th:text="${item.qty}" class="text-center"></td>
							<td ><span th:inline="text">[[${#numbers.formatDecimal(item.total,
												0, 'POINT', 0, 'COMMA')}]]</span></td>
						</tr>
					</th:block>
                 
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>ID Beverage</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
		
		<div th:replace="~{flagment/admin/adminFooter :: adminFooterFragment}"></div>
		<div th:replace="~{flagment/admin/adminFootLink :: adminFootLinkFragment}"></div>
	</div>

</body>
<script>
  $(function () {
    $("#salestable").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#salestable_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</html>