<!-- @format -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
<div th:replace="~{flagment/head :: headFragment}"></div>
<link rel="stylesheet" href="/css/shoes.css">
</head>

<body>
	<div class="container-fluid">
		<div th:replace="~{flagment/header :: headerFragment}"></div>
		<div class="wall-header-offset p-1"></div>

		<div id="header-content"
			class="row container-fluid m-0 mt-4 justify-content-center">
			<div class="col-xl-10 col-md-8 col-sm-5 col-6 p-0 m-0">
				<h4>
					<th:block th:text="${beverages.size() < 30  } ? ${beverages[0].getCategory().getName()} : Beverages"></th:block>
					(<span th:text="${count}"></span>)
				</h4>
			</div>

			<div id="hide-sort"
				class="col-xl-2 col-md-4 col-sm-6 col-6 p-0 m-0 d-flex justify-content-end">
				<button class=" border-0 p-0 pr-3 bg-white font-weight-lighter"
					ng-click="toggleAside()">
					Show Filters <i class="fas fa-sliders-h"></i>
				</button>
			</div>
		</div>
		<div class="wall-header-offset p-3"></div>
		<div id="contentMen-Shoes" class="container-flui row">
			<!-- ASIDE -->

			<div ng-show="showAside" id="aside"
				class="aside-container col-xl-3 col-md-4">
				<aside>
					<div class="filter">
						<button class="btn btn-default" type="button"
							data-toggle="collapse" data-target="#mobile-filter"
							aria-expanded="false" aria-controls="mobile-filter">
							<i class="fas fa-sliders-h"></i>
						</button>
					</div>
					<div id="mobile-filter">
						<div>
							<h6 class="p-1 border-bottom">Home Furniture</h6>
							<ul>
								<li><a href="#">Living</a></li>
								<li><a href="#">Dining</a></li>
								<li><a href="#">Office</a></li>
								<li><a href="#">Bedroom</a></li>
								<li><a href="#">Kitchen</a></li>
							</ul>
						</div>
						<div>
							<h6 class="p-1 border-bottom">Filter By</h6>
							<p class="mb-2">Color</p>
							<ul class="list-group">
								<li class="list-group-item list-group-item-action mb-2 rounded"><a
									href="#"> <span class="fa fa-circle pr-1" id="red"></span>Red
								</a></li>
								<li class="list-group-item list-group-item-action mb-2 rounded"><a
									href="#"> <span class="fa fa-circle pr-1" id="teal"></span>Teal
								</a></li>
								<li class="list-group-item list-group-item-action mb-2 rounded"><a
									href="#"> <span class="fa fa-circle pr-1" id="blue"></span>Blue
								</a></li>
							</ul>
						</div>
						<div>
							<h6>Type</h6>
							<form class="ml-md-2">
								<div class="form-inline border rounded p-sm-2 my-2">
									<input type="radio" name="type" id="boring"> <label
										for="boring" class="pl-1 pt-sm-0 pt-1">Boring</label>
								</div>
								<div class="form-inline border rounded p-sm-2 my-2">
									<input type="radio" name="type" id="ugly"> <label
										for="ugly" class="pl-1 pt-sm-0 pt-1">Ugly</label>
								</div>
								<div class="form-inline border rounded p-md-2 p-sm-1">
									<input type="radio" name="type" id="notugly"> <label
										for="notugly" class="pl-1 pt-sm-0 pt-1">Not Ugly</label>
								</div>
							</form>
						</div>
					</div>
					<section id="sidebar">
						<div class="menu">


							<div id="accordianId" role="tablist" aria-multiselectable="false"
								class="text-decoration-none">
								<div class="card"
									style="border-left: none; border-right: none; border-top: none;">
									<div class="card-header bg-white" role="tab"
										id="section1HeaderId">
										<h5 class="mb-0">
											<a class="d-inline-block w-100" data-toggle="collapse"
												data-parent="#accordianId" href="#section1ContentId"
												aria-expanded="true" aria-controls="section1ContentId">
												<span class="text-secondary">Type</span>
											</a>
										</h5>
									</div>
									<div id="section1ContentId" class="collapse in" role="tabpanel"
										aria-labelledby="section1HeaderId" data-parent="#accordianId">
										<div class="card-body">
											<a href="/hnbcoffee/beverage/coffee"
												class="list-group-item text-secondary">Coffee</a> <a
												href="/hnbcoffee/beverage/cloudFee"
												class="list-group-item text-secondary">CloudFee</a> <a
												href="/hnbcoffee/beverage/cloudTea"
												class="list-group-item text-secondary">CloudTea</a> <a
												href="/hnbcoffee/beverage/Hi-tea Healthy"
												class="list-group-item text-secondary">Hi-Tea Healthy</a> <a
												href="/hnbcoffee/beverage/Fruit-tea & Milk-tea"
												class="list-group-item text-secondary">Fruit tea & Milk
												tea</a>
										</div>
									</div>
								</div>
								<div class="card"
									style="border-left: none; border-right: none; border-top: none;">
									<div class="card-header bg-white" role="tab"
										id="section2HeaderId">
										<h5 class="mb-0">
											<a class="d-inline-block w-100" data-toggle="collapse"
												data-parent="#accordianId" href="#section2ContentId"
												aria-expanded="true" aria-controls="section2ContentId">
												<span class="text-secondary">Filter By Price</span>
											</a>
										</h5>
									</div>
									<div id="section2ContentId" class="collapse in" role="tabpanel"
										aria-labelledby="section2HeaderId" data-parent="#accordianId">
										<div class="card-body">
											<form action="/hnbcoffee/beverage/sort" method="get"
												class="ml-md-2">
												<div class="form-inline border rounded p-sm-2 my-2">
													<input th:checked="${flag == null}" type="radio"
														name="typeSort" th:value="nor" id="boring"
														th:onchange="this.form.submit()"> <label
														class="pl-1 pt-sm-0 pt-1">NOR</label>
												</div>
												<div class="form-inline border rounded p-sm-2 my-2">
													<input th:checked="${flag == 'asc'}" th:value="asc"
														type="radio" name="typeSort" id="ASC"
														th:onchange="this.form.submit()"> <label
														class="pl-1 pt-sm-0 pt-1">ASC</label>
												</div>
												<div class="form-inline border rounded p-md-2 p-sm-1">
													<input th:checked="${flag == 'desc'}" th:value="desc"
														type="radio" name="typeSort" id="DESC"
														th:onchange="this.form.submit()"> <label
														class="pl-1 pt-sm-0 pt-1">DESC</label>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="card"
									style="border-left: none; border-right: none; border-top: none;">
									<div class="card-header bg-white" role="tab"
										id="section3HeaderId">
										<h5 class="mb-0">
											<a class="d-inline-block w-100" data-toggle="collapse"
												data-parent="#accordianId" href="#section3ContentId"
												aria-expanded="true" aria-controls="section3ContentId">
												<span class="text-secondary">Filter By Other</span>
											</a>
										</h5>
									</div>
									<div id="section3ContentId" class="collapse in" role="tabpanel"
										aria-labelledby="section3HeaderId" data-parent="#accordianId">
										<div class="card-body">
											<a href="/hnbcoffee/beverage/bestseller"
												class="list-group-item text-secondary">Best Sellers</a> <a
												href="#" class="list-group-item text-secondary">Newest</a>
										</div>
									</div>
								</div>
							</div>
						</div>


					</section>
				</aside>
			</div>



			<!-- PRODUCT MEN-SHOES -->
			<div id="my-pics" class="mb-5 position-relative col-xl-9 col-md-8 ">

				<!-- PRODUCT-ROW-COL3 -->
				<div class="lider row container-fluid ml-0 p-0 ">
					<th:block th:each="item, state : ${beverages}" th:with="limit = 7">
						<div th:if="${state.count < limit}"
							class="media-container justify-content-center col-xl-4 col-md-4 col-6 mb-3"
							id="products">
							<a th:href="@{/hnbcoffee/beverage/detail/__${item.id}__}"> <img
								th:src="@{/img/beverage/__${item.image}__}"
								class="img-fluid rounded shadow mb-3" alt="">
								<div class=" row pb-0 justify-content-center">
									<div class=" p-0  col-xl-7 col-6 font">
										<b class="" style="font-size: 1rem;" th:text="${item.name}"></b>
									</div>
									<p class=" col-4  col-xl-4  text-right p-0"
										style="font-size: 0.9rem;">
										<span th:inline="text">[[${#numbers.formatDecimal(item.price,
											0, 'POINT', 0, 'COMMA')}]]</span> đ
									</p>
								</div>
							</a>
						</div>
					</th:block>
					<div class="lider row container-fluid ml-0 p-0 d-none "
						id="showMore">
						<th:block th:each="item, state : ${beverages}" th:with="limit = 7">
							<div th:if="${state.count >= limit}"
								class="media-container justify-content-center col-xl-4 col-md-4 col-6 mb-3"
								id="products">
								<a th:href="@{/hnbcoffee/beverage/detail/__${item.id}__}"> <img
									th:src="@{/img/beverage/__${item.image}__}"
									class="img-fluid rounded shadow mb-3" alt="">
									<div class=" row pb-0 justify-content-center">
										<div class=" p-0  col-xl-7 col-6 font">
											<b class="" style="font-size: 1rem;" th:text="${item.name}"></b>
										</div>
										<p class=" col-4  col-xl-4  text-right p-0"
											style="font-size: 0.9rem;">
											<span th:inline="text">[[${#numbers.formatDecimal(item.price,
												0, 'POINT', 0, 'COMMA')}]]</span> đ
										</p>
									</div>
								</a>
							</div>
						</th:block>
					</div>


					<button id="more" class="animated-scroll" onclick="showMore()">
						<i class="fas fa-caret-down" id="arrow"></i>
					</button>
					<!-- END PRODUCT MEN SHOES  -->
				</div>
			</div>
			<!-- END CONTENT-MEN-SHOES -->
		</div>
		<div th:replace="~{flagment/footer :: footerFragment}"></div>

	</div>
	<!-- FOOTER -->
	<script>
		function showMore() {
			var element = document.getElementById("showMore");
			var elementBtn = document.getElementById("arrow");
			if (element.classList.contains("d-none")) {
				element.classList.remove("d-none")
				elementBtn.classList.remove("fa-caret-down");
				elementBtn.classList.add("fa-caret-up");
			} else {
				element.classList.add("d-none");
				elementBtn.classList.remove("fa-caret-up");
				elementBtn.classList.add("fa-caret-down");
				scrollToElement("header");

			}
		}

		function scrollToElement(elementId) {
			var element = document.getElementById(elementId);
			if (element) {
				element.scrollIntoView({
					behavior : 'smooth'
				});
			}
		}

		const header = document.querySelector("#secondnav");
		let lastScrollTop = 0;

		window.addEventListener("scroll", function() {
			let st = window.pageYOffset || document.documentElement.scrollTop;

			if (st > lastScrollTop) {
				header.classList.remove("visible");
				header.classList.add("notvisible");

				console.log("Scrolling down");

			} else {
				header.classList.add("visible");
				header.classList.remove("notvisible");
				if (st == 0) {
					header.classList.remove("visible");

				}
				console.log("Scrolling up");

			}

			lastScrollTop = st <= 0 ? 0 : st;
		});
	</script>
	<div th:replace="~{flagment/footLink :: footLinkFragment}"></div>
</body>

</html>