<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
<div th:replace="~{flagment/head :: headFragment}"></div>
</head>
<body >
    <div class="container-fluid">
     <div th:replace="~{flagment/header :: headerFragment}"></div>
        <!-- JUMBOTRON -->
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active d-flex justify-content-center">
                    <img class="d-block w-100 img-fluid" src="/img/banner/bannercoffee.webp" height="500px" alt="First slide">
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <img class="d-block w-100 img-fluid" height="500px" src="/img/banner/momday-sale.webp" alt="Third slide">
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <img class="d-block w-100 img-fluid" height="500px" src="/img/banner/tea-collection-banner.webp"
                        alt="Second slide">
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <img class="d-block w-100 img-fluid" height="500px" src="/img/banner/fpoly-sale.webp" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div id="content" class="mt-5">
            <!-- SIGNATURE DRINK -->
            <div id="signature" class="row">
                <div class=" col-xl-4 col-md-3 text-center"><img class="img-fluid shadow" src="/img/banner/signaturebanner.webp" alt=""></div>
                <div id="my-pics" class="mb-5 position-relative col-xl-8 col-md-9 pr-0">
                    <!-- PRODUCT-ROW-COL3 -->
                    <div class="lider row container-fluid ml-0 p-0">
                    	<th:block th:each="item : ${listTop6.content}">
                    		<div class="media-container justify-content-center col-xl-4 col-md-4 col-6" id="products">
	                            <a th:href="@{/hnbcoffee/beverage/detail/__${item.beverage.id}__}">
	                                <img th:src="@{/img/beverage/__${item.beverage.image}__}" class="img-fluid rounded shadow mb-3" alt="">
	                                <div class=" row pb-0 justify-content-center">
	                                    <div class=" p-0  col-xl-7 col-6 font">
	                                        <b class="" style="font-size: 1rem;" th:text="${item.beverage.name}"></b>
	                                       
	                                    </div>
	                                    <p class=" col-4  col-xl-4  text-right p-0"
											style="font-size: 0.9rem;">
											<span th:inline="text">[[${#numbers.formatDecimal(item.beverage.price,
												0, 'POINT', 0, 'COMMA')}]]</span> đ
										</p>
	                                    
	                                </div>
	                            </a>
	                        </div>
                    	</th:block>
                        
                    </div>
                    
                </div>
            </div>

            <!-- THE LATEST -->
            <a href="" class="w-100 p-0"><img src="/img/banner/bannercoffee-time.webp" class="p-0 w-100 img-fluid mt-2" alt=""></a>
            <div class="text-center card-title" data-qa="card-overlay">
                <div class="" data-qa="card-overlay-content">
                    <h1 data-qa="title" class=" text-color-primary-dark font-weight-bolder mt-5" id="feel-it"
                        style="color:#111111">H&B COFFEE SHOP
                    </h1>
                    <p data-qa="body" class="body-2 mt6-sm mt-3 mb-1 text-color-primary-dark" style="color:#111111">
                        "Một chút yên bình, một hơi thở mới - H&B, nơi tận hưởng cà phê và trà."</p>
                    <div class="mb-5 mt-5" data-qa="cta-container">
                        <button href="#ban-giay-Runing" target="_self"
                            class="btn-lg rounded-pill font-weight-bold p-1 pl-4 pr-4  mr-1" data-button-type="button"
                            aria-label="Shop">Tìm hiểu ngay
                        </button>
                    </div>
                </div>
            </div>

          

            <!-- 2 PICTURE BOOTSTRAP-->
            <div class="row container-fluid m-0">
                <div class="card col-md-6">
                    <img src="/img/banner/ca-phe.webp"
                        class="card-img-top" alt="...">

                    <div class="card-body">
                        <p class="card-text">COFFEE</p>
                        <button type="button" class="btn btn-dark">Order now</button>
                    </div>
                </div>

                <div class="card col-md-6">
                    <img src="/img/banner/hitea.webp"
                        class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">TEA</p>
                        <button type="button" class="btn btn-dark">Order now</button>
                    </div>
                </div>
            </div>

        </div>



 
    </div>
     <div th:replace="~{flagment/footer :: footerFragment}"></div>
    <!-- FOOTER -->
     <script>
        const header = document.querySelector("#secondnav");
        let lastScrollTop = 0;

        window.addEventListener("scroll", function () {
            let st = window.pageYOffset || document.documentElement.scrollTop;

            if (st > lastScrollTop) {
                header.classList.remove("visible");
                header.classList.add("notvisible");

                console.log("Scrolling down");

            } else {
                header.classList.add("visible");
                header.classList.remove("notvisible");
                if (st == 0) {
                    header.classList.remove("visible");

                }
                console.log("Scrolling up");

            }

            lastScrollTop = st <= 0 ? 0 : st;
        });


    </script>
    <div th:replace="~{flagment/footLink :: footLinkFragment}"></div>
    <!-- Footer -->

</body>

</html>