<!-- @format -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
<div th:replace="~{flagment/head :: headFragment}"></div>
<div th:replace="~{flagment/admin/adminHead :: adminHeadFragment}"></div>
<link rel="stylesheet" href="/css/shoes.css">
</head>

<body>
	<div class="container-fluid">
		<div th:replace="~{flagment/header :: headerFragment}"></div>
		<div class="wall-header-offset p-1"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper m-0">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Profile</h1>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">

							<!-- Profile Image -->
							<div class="card card-dark card-outline">
								<div class="card-body box-profile">
									<div class="text-center">
										<img class="profile-user-img img-fluid img-circle"
											src="/admin/dist/img/user4-128x128.jpg"
											alt="User profile picture">
									</div>

									<h3 class="profile-username text-center">USER NAME</h3>

									<p class="text-muted text-center"># USER ID</p>

									<ul class="list-group list-group-unbordered mb-3">
										<li class="list-grouhrrp-item"><b>Followers</b> <a
											class="float-right">1,322</a></li>
										<li class="list-group-item"><b>Following</b> <a
											class="float-right">543</a></li>
										<li class="list-group-item"><b>Friends</b> <a
											class="float-right">13,287</a></li>
									</ul>

									<a href="#" class="btn btn-dark btn-block"><b>Follow</b></a>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
						<div class="col-md-9">
							<form action="/hnbcoffee/profile" method="post">
								<div class="card">
									<div class="card-body">
										<div class="tab-content">
											<div class="active tab-pane" id="activity">
												<div class="tab-pane" id="settings">
													<form class="mt-4 form-horizontal" method="post">
														<div class="mb-3 bg-white rounded px-2">
															<input type="text" id="inputFullname"
																placeholder="Fullname" pattern="[a-zA-ZÀ-ỹ ]+"
																title="Name does not contain number" required
																class="form-control border-1 p-0 pl-2" name="fullname"
																th:value="${session.user.fullname}">
														</div>
														<div class="mb-3 bg-white rounded px-2">
															<input type="email" id="inputEmail"
																placeholder="Email address"
																pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
																maxlength="50" minlength="5" required
																class="form-control border-1 p-0 pl-2" name="email"
																disabled th:value="${session.user.email}">
														</div>
														<div class="mb-3 bg-white rounded px-2">
															<input type="text" id="inputAddress"
																placeholder="Address" maxlength="50" minlength="5"
																required th:value="${session.user.address}"
																class="form-control border-1 p-0 pl-2" name="address">
														</div>
														<div id="form-controller" class="row">

															<div class="form-signup col-6">

																<div class="mb-3 bg-white rounded px-2">
																	<input type="text" id="inputEmail"
																		th:value="${#dates.format(session.user.birthday, 'dd-MM-yyyy')}"
																		class="form-control border-1 p-0 pl-2" name="birthday"
																		disabled>
																</div>
																<!-- SOME INPUT RIGHT HERE -->
															</div>
															<div class="form-horizontal col-6">
																<div class="form-group">
																	<select name="gender" id="gender" class="form-control">
																		<option selected="selected" disabled="disabled"
																			value="null">Gender</option>
																		<option value="true"
																			th:selected="${session.user.gender == true}">Male</option>
																		<option value="false"
																			th:selected="${session.user.gender == false}">Female</option>
																	</select>
																</div>
																<!--SOME INPUT RIGHT HERE -->
															</div>
														</div>
														<button type="submit" class="btn btn-success mt-3"
															style="width: 100%;">SAVE</button>
													</form>

												</div>
												<!-- /.tab-pane -->
											</div>
											<!-- /.tab-content -->
										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->
								</div>
								<!-- /.col -->
							</form>
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- END CONTENT-MEN-SHOES -->
		<div th:replace="~{flagment/footer :: footerFragment}"></div>

	</div>
	<!-- FOOTER -->
	<script>
		const header = document.querySelector("#secondnav");
		let lastScrollTop = 0;

		window.addEventListener("scroll", function() {
			let st = window.pageYOffset || document.documentElement.scrollTop;

			if (st > lastScrollTop) {
				header.classList.remove("visible");
				header.classList.add("notvisible");

				console.log("Scrolling down");

			} else {
				header.classList.add("visible");
				header.classList.remove("notvisible");
				if (st == 0) {
					header.classList.remove("visible");

				}
				console.log("Scrolling up");

			}

			lastScrollTop = st <= 0 ? 0 : st;
		});
	</script>
	<div th:replace="~{flagment/footLink :: footLinkFragment}"></div>

</body>

</html>